{% extends "header.html" %}
{% load static %}
{% block title %}Rating{% endblock %}

{% block content %}
<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row text-center" style="margin-top: 5%;">
        <div class="col-md-12">
            <h3>Hasil Rating</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
          {% if info_rating %}
            <div class="card" style="width:100%;">
                <ul class="list-group list-group-flush">
                {% for rating in info_rating %}
                  <li class="list-group-item">
                    <p>Nama : {{ rating.username }}</p>
                    <p>Rating yang diberikan : {{ rating.rating }}</p>
                  </li>
                {% endfor %}
                </ul>
              </div>
            {% else %}
            <h5 class="text-center">Feedback Rating Belum Tersedia !!</h5>
            {% endif %}
            <center>
            <a href="/rating/"><button type="submit" class="btn mt-4" style="background-color: #6FCF97;color: white;">Beri Rating</button></a>
            </center>
        </div>
    </div>
</div>
{% endblock %}


