{% extends "header.html" %}
{% load static %}
{% block title %}Rate Web Kami{% endblock %}

{% block content %}
    <div class="d-flex justify-content-around">
        <div class="row text-center" style="margin-top: 5%;">
            <div class="col-md-12" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <h3>C19 Simulation</h3>
            </div>
        </div>
    </div>
    <div class="row text-center mt-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="col-md-4 offset-md-4">
            <div class="card rounded">
                <div class="card-body">
                    <div class="login-title">
                        <h4>Berikan Rating Pada Web Kami</h4>
                    </div>
                    <div class="login-form mt-4">
                        <form method="POST" action='/rating/berhasil/'>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input id="username" name="username" placeholder="Nama" class="form-control" type="text" required>
                                    <div class="valid-feedback">OK.</div>
	                                <div class="invalid-feedback">Isi form terlebih dahulu.</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    `<div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5" checked>
                                        <label class="form-check-label" for="inlineRadio5">5</label>
                                        
                                      </div>
                                      
                                </div>
                            </div>
                                <button type="submit" class="btn" style="background-color: #6FCF97;color: white">Submit</button>
                        </form>
                    </div>
                    <p class="mt-3">Untuk melihat hasil rating pergi ke <a href="{% url 'rating:halaman_rating' %}">halaman ini</a></p>
                </div>
            </div>
            <p class=mt-4>{{ sukses }}</p>
        </div>
        
    </div>

{% endblock %}

