{% extends 'header.html' %}
{% load static %}

{% block meta %}
<title>List Feedback</title>
{% endblock meta %}

{% block content %}
<div class = "container ">
    <div class = "justify-content-md-around text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <h4 style = "padding : 30px; color:black">~~  Kolom Feedback ~~</h4>
        <div>
            {% if feedbacks %}
                {% for feedback in feedbacks%}
                    {% if feedback.num|divisibleby:2%}
                        <div id = "feeds" class = "row">
                            <div class = "col-md-10" style = "padding : 10px;text-align: right;">
                                <p>{{feedback.pesan}}</p>
                            </div>
                            <div class = "col-md-2" style = "background-color:#6FCF97; padding:10px">
                                <p style = "font-weight:bold; color:white">{{feedback.nama}}</p>
                                <img src = {{feedback.img}}></img>
                            </div>
                            
                        </div>
                        <br>
                    {% else %}
                        <div id = "feeds" class = "row">
                            <div class = "col-md-2" style = "background-color: #6FCF97; padding : 10px">
                                <p style = "font-weight : bold; color:white">{{feedback.nama}}</p>
                                <img src = {{feedback.img}}></img> 
                            </div>
                            <div class = "col-md-10" style = "padding:10px; text-align:left">                               
                                <p>{{feedback.pesan}}</p>
                            </div>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div id = "feeds" style = "padding : 20px">
                <p style = "padding-bottom:-10px">Dun dun dun, </p>
                <p style = "padding-top:-10px">Belum ada yang isi nih D: </p>
            </div>
            {% endif %}
        </div>
        <p style ="color:black">Kami menerima feedback kalian <a href = "/feedback/tambah/" style = "color:#6FCF97">disini</a></p>
        <p style ="color:black">Terima kasih telah mengunjungi website kami :D</p>
    </div>
</div>

{% endblock content %}
