{% extends 'header.html' %}
{% load static %}
{% block title %}Persentase Covid{% endblock %}

{% block content %}
<div class="containerpair" style="margin-top: 2%;">
	<div>
        <h5>Persentase Berstatus Positif COVID-19</h5>
		<br>
		<div class="circle" style="background: #6FCF97">
			<p>{{ positif }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Berstatus Negatif COVID-19</h5>
		<br>
		<div class="circle" style="background: #f44336">
			<p>{{ negatif }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Laki-laki</h5>
		<br>
		<div class="circle" style="background: #4169E1">
			<p>{{ pria }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Perempuan</h5>
		<br>
		<div class="circle" style="background: #F08080">
			<p>{{ perempuan }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Berusia 0-20</h5>
		<br>
		<div class="circle" style="background: #D8BFD8">
			<p>{{ muda }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Berusia 21-44</h5>
		<br>
		<div class="circle" style="background: #DDA0DD">
			<p>{{ dewasa }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Berusia 45-65</h5>
		<br>
		<div class="circle" style="background: #BA55D3">
			<p>{{ tengah }}%</p>
		</div>
	</div>
	<div>
		<h5>Persentase Kasus Positif yang Berusia 66+</h5>
		<br>
		<div class="circle" style="background: #8B008B">
			<p>{{ tua }}%</p>
		</div>
	</div>
</div>
<br>
<br>
<center>
	<div class="a">
		Terima kasih sudah mencoba C19 Simulation 
		<br>
		Ingat, selalu jaga kesehatan di masa pandemi ini.
		<br>
		<br>
		<p style="font-size: 24px"><b>Sampai Jumpa Lagi!</b></p>
		<br>
		<a href="{% url 'statistik:reset' %}">
			<button class="btn button-custom" style="background-color: #6FCF97; color:white; font-size: 20px">Coba Lagi</button>
		</a>
		<br>
		<br>
	</div>
</center>
{% endblock %}