.textp{
    outline : none !important;
    padding : 10px;
    border: 2px solid gray;
    border-radius: 4px;
    width : 100%; 
}
textarea{
    border-style:inset;
}

h4, small{
    color:#6FCF97;
}

img{
    border-radius:50%;
}

label+img{
    opacity:0.7;
}

/* HIDE RADIO */
.radiop { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
input[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
input[type=radio]:checked + img {
    opacity:1;
    border: 2px solid #6FCF97;
    border-radius:50%;
    box-shadow : 0px 0px 2px 2px #6FCF97;
}

#feeds{
    border:2px solid #6FCF97;
    border-radius:10px;
    background-color: white;
    color : #6FCF97;
    box-shadow : 0px 0px 2px 2px #6FCF97;
}
