a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: #6FCF97;
    color:white;

}
#img1,#img2{
    position:absolute;
    top:0;
    left:0;
    max-width : 300px;
    max-height:300px;
    border-radius:0;
}
#img2{
    right:0;

}

#feeds{
    border:2px solid #6FCF97;
    border-radius:10px;
    background-color: white;
    color : #6FCF97;
    box-shadow : 0px 0px 2px 2px #6FCF97;
}

.title1{
    font-weight:bold; 
    color :#6FCF97; 
    padding-bottom:50px;
}

